:root {
    --color-dark-grey: #2c3333;
    --color-dark-blue: #395b64;
    --color-light-blue: #a5c9ca;
    --color-light: #e7f6f2;
    --color-red: #ff4c29;
}
a {
    text-decoration:none
}

a:hover {
    color: var(--color-red);
    text-decoration:none
}

.card{
    background-color: var(--color-dark-blue);
}

.home-user-container{
    width:80%;
    height: 80%;
    margin:auto;
}
.home-user-video-container{
    height:0px;
    width:100%;
    max-width: auto; 
    padding-top:56.25%;
    position:relative;
}

iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}