:root {
    --color-dark-grey: #2c3333;
    --color-dark-blue: #395b64;
    --color-light-blue: #a5c9ca;
    --color-light: #e7f6f2;
    --color-red: #ff4c29;
  }
  
  .container{
      background-color: var(--color-light-blue);
  }
  